<style>

.title{
color:#fff;

}
</style>


<ion-view view-title="Available Medicines" style="color:white;">
	<ion-content style="background-color:#f7f7f7;">

<div class="container wrapper">
		<div class="card">
		  <div class="item item-text-wrap">
		    <center><h4 style="font-size:20px;">Available Medicines</h4></center>
				<br>
<hr>
<br>
											<center>
															<div class="row">
																		<div class="col col-50">
																			<h2><strong>Medicine</strong></h2>


																		</div>


																		<div class="col col-50">
																			<h2><strong>Quantity</strong></h2>
																		</div>
															</div>



											<div class="row">
														<div class="col col-50">
															<h2>Biogesic<h2>
															<h2>Ceterizine</h2>
															<h2>Decolgen</h2>
															<h2>Bioflu</h2>
															<h2>Amplodipine</h2>
														</div>


														<div class="col col-50">
															<h2>20 pieces</h2>
															<h2>20 pieces</h2>
															<h2>20 pieces</h2>
															<h2>20 pieces</h2>
															<h2>20 pieces</h2>
														</div>
											</div>

											</center>

		  </div>
		</div>

</div>
</div>
</ion-content>
  </ion-view>
