<style>
.title{
color:#fff;

}

</style>


<ion-view view-title="Medical Record" style="color:white;">
	<ion-content style="background-color:#f7f7f7;">
<div class="container wrapper" ng-controller="DbController">
    <div class="card">
      <div class="item item-text-wrap">
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Have you had any accident in the past?</h2>
        <h2 style="font-size:15px; font-family:verdana;">Yes</h2>
        <br>
        <p style="font-size:13px; font-weight:bold; font-family:verdana;">Person to be notified in case of accident</p>

        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Name</h2>
        <h2 style="font-size:15px; font-family:verdana;">Rosalinda</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Relationship</h2>
        <h2 style="font-size:15px; font-family:verdana;">Mother</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Address</h2>
        <h2 style="font-size:15px; font-family:verdana;">557 Begonia St.Sta.Rita Olongapo City</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;;">Tel#/Cel#</h2>
        <h2 style="font-size:15px; font-family:verdana;">09123096968</h2>
        <br>
				<h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Medical History</h2>
				<h2 style="font-size:15px; font-family:verdana;">Allergy</h2>
				<br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">Chest/Xray</h2>
        <h2 style="font-size:15px; font-family:verdana;">Normal Findings</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;">CBC</h2>
        <h2 style="font-size:15px; font-family:verdana;">Hgb.</h2>
        <h2 style="font-size:15px; font-family:verdana;">WBC.</h2>
        <h2 style="font-size:15px; font-family:verdana;">Plt. Ct.</h2>
        <br>
        <h2 style="font-size:15px; font-weight:bold; font-family:verdana;;">Bood Type</h2>
        <h2 style="font-size:15px; font-family:verdana;">Type O</h2>


      </div>
    </div><br><br>


</div>


	</ion-content>
<br>
  <div class="tabs">
    <a href="#/app/record" class="tab-item">
      Personal Record
    </a>
    <a href="#/app/record" class="tab-item">
      Medical Record
    </a>
    <a href="#/app/dental" class="tab-item">
      Dental Record
    </a>
  </div>
</ion-view>
